@font-face {
    font-family: 'SchoolSafetyColoredPencil';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/HakgyoansimSaekyeonpilR.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

* {
    font-family: 'SchoolSafetyColoredPencil';
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#background {
    width: 95%;
    background-color: #ffec99;
    border-radius: 20px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 30px;
}

#main_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#title {
    font-size: 36px;
    display: flex;
    align-items: center;
}

#title div{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 7px;
    transform: scale(0.5);
    transform: rotate(-3deg);
}

#des {
    font-size: 20px;
}

#theme_con {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    gap: 10px;
}

.theme img{
    width: 100%;
    aspect-ratio: 16/10;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}

.theme{
    background-color: #fffef3;
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
    color: black;
}

.theme_title{
    font-size: 22px;
    margin-bottom: 8px;
}

@media screen and (min-width: 480px) {
    #theme_con{
        grid-template-columns: repeat(2, 1fr);
    }
}

.pick{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#pick_con{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.pick_title{
    font-size: 20px;
    text-decoration: underline;
}

#snacks_{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.snack_option img{
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid black;
}

.snack_option{
    background-color: white;
    border: 3px solid rgb(179, 179, 179);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 10px 0px;
}

.snack_option:hover {
    border-color: black;
    transform: translateY(-5px);
    transition: all ease 0.3s;
}


#movie_con{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movie_box{
    background-color: white;
    border: 3px solid rgb(179, 179, 179);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.movie_title{
    font-size: 23px;
    padding: 15px;
}

.movie_box.selected{
    border: 4px solid rgb(37, 95, 255)
}

.movie_des_con {
    display: none;
    gap: 10px;
}

.movie_box.selected .movie_des_con {
    display: flex;
    padding: 15px;
}

.movie_des_con img{
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.movie_des_con div{
    line-height: 22px;
}

hr { 
    display: none;
}

.movie_box.selected hr {
    display: block;
    width: 100%;
    border: none;
    border-top: 2px dotted black;
    height: 1px;
}


button{
    background-color: #c4d4ff;
    font-size: 25px;
    border-radius: 40px;
    padding: 20px 60px;
    border: 3px solid rgb(0, 0, 0);
}

.snack_option.selected{
    border: 4px solid rgb(37, 95, 255)
}

#content{
    background-color: white;
    border: 3px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 70%;
    gap: 20px
}

#movie_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#movie_title{
    font-size: 25px;
}

#little_con{
    display: flex;
    gap: 20px;
}

#movie_poster{
    width: 40%;
    border-radius: 20px;
}

#movie_overview{
    font-size: 20px;
}

#snack_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#snack_name{
    font-size: 25px;
}

#snack_img {
    width: 40%;
    border-radius: 20px;
}